.animation_a_r{
    position: absolute;
    animation: infinite alternate 2s animation_move_right linear;
}
.animation_a{
    position: absolute;
    animation: infinite alternate-reverse 2s animation_move_right linear;
}
.container_animation{
    overflow: hidden;
    height: 100px;
}
.item_animation{
    height: 100px;
    width: 100px;
}
.animation_text{
    font-size: 1rem;
    overflow: hidden;
}
.animation_width_max .nav2{
    animation: forwards linear 0.75s animation_with;
}
.animation_width_max .nav2 .container{
    animation: forwards linear 1s animation_opacity;
}
@keyframes animation_with {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
@keyframes animation_opacity {
    0%{
        opacity: 0%;
    }
    80%{
        opacity: 0;   
    }
    100%{
        opacity: 100%;
    }
}
@keyframes animation_move_right {
    0%{
        left: 0;
    }
    100%{
        left: 100% ; transform:  translateX(-300px);
    }
}

@media (min-width: 576px) {
    .animation_text{
        font-size: 2rem;
    }
    .container_animation{
        height: 200px;
    }
    .item_animation{
        height: 200px;
        width: 200px;
    }
    @keyframes animation_move_right {
        0%{
            left: 0;
        }
        100%{
            left: 100% ; transform:  translateX(-600px);
        }
    }
}
@media (min-width: 768px) {
    .animation_text{
        font-size: 4rem;
    }
    .container_animation{
        height: 300px;
    }
    .item_animation{
        height: 300px;
        width: 300px;
    }
    @keyframes animation_move_right {
        0%{
            left: 0;
        }
        100%{
            left: 100% ; transform:  translateX(-900px);
        }
    }
    @keyframes animation_with {
        0%{
            width: 0%;
        }
        100%{
            width: 50vw;
        }
    }
}
@keyframes aniamtion_img_top_container{
    0%{
        height: 0px;
        width: 150%;
    
    }
    100%{
        height: 200px;
        width: 150%;
        
    }
}