*{
    font-family:'Open Sans';
}
.navbar{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    & ul {
        margin-right: 4rem;
        display: flex;
        gap: 3rem;
        & li{
            list-style: none;
            color: black;
            font-weight: 400px;
            font-size: 18px;
            display: inline-block;
            line-height: 25px;
        }
    }
}
.hover_circle:hover{
    background-color: white;
    color: black;
    border-radius: 100%;
    cursor: pointer;

}
.hover_circle_inverse:hover{
    background-color: black;
    color: white;
    padding-left: 0.5rem;
    border-radius: 100%;
    cursor: pointer;
    
}
.list_header_2{
    list-style: none;
    padding: 20%;
    padding-bottom: 20px;
    font-weight: 100;
    line-height: 60px;
}
.nav2{
    position: fixed;
    right: 0;
    width: 50vw;
    height: 70vh;
    background-color: black;
    color: white;
    z-index: 150;
}
.btn_header_2{
    background-color: black;
    color: white;
    border-radius: 2rem;
}
.header_2{
    position: fixed;
    top: 20px;
}
input[type="checkbox"].form-check-input{
    position: fixed;
    z-index: 300;
    bottom: 50px;
    left: 100px;
    height: 1.5rem;
    width: 3rem;

}
input[type="checkbox"].form-check-input:checked{
    background-color: black;
    border-color: black;
}
.full_width{
    background-color: #FF5E43;
    & p {
        font-size: 5rem;
    }
}
.img_feature_1{
    max-width: 50vw;
}
.btn_custom{
    background-color: #77D7DB;
    font-size: 0.6em;
}
.animation_text{
        font-size: 4rem;
        overflow: hidden;
}
.center{
    justify-content: center;
    align-items: center;
}
.container_change_button{
    position: absolute;
}
.animation_text {
    font-size: 1rem;
    
}
.icon_plus{
    font-size: 2rem;
}
.text_list{
font-size: 2rem;
}
.text_very_small{
    font-size: 0.7rem;
}   
.size_icons{
    font-size: 1.5rem;
}
.text_little{
    font-size: 1rem;
}
.text_mid{
    font-size: 1.8rem;
}
.text_big{
    font-size: 3rem;
}
.text_very_big{
    font-size: 5rem;

}
@media (min-width: 576px) {
    .animation_text {
        font-size: 2rem;
    }
    .trapecio_falso{
        top: 15%;
    }
}
@media (min-width: 768px) {
    .animation_text {
        font-size: 2rem;
    }
    .trapecio_falso{
        top: 25%;
    }
}

@media (min-width: 992px) {
    .animation_text {
        font-size: 4rem;
    }
    .trapecio_falso{
        top: 35%;
    }
}

@media (min-width: 1200px) {
    .animation_text {
        font-size: 5rem;
    }
    .trapecio_falso{
        top: 35%;
    }
}

@media (min-width: 1400px) {
    .animation_text {
        font-size: 6rem;
    }
}

.hover_o:hover{
    opacity: 50%;
    cursor: pointer;
    text-decoration: underline ;
}
.hover_img{
    & .col-4{
        & img{
            display: none;
        }
    }
}
.hover_img:hover{
    cursor: pointer;
    & .col-4{
        & img{
            display: block;
        }
    }
}